<%- include('../layout/header'); %>
  <div>
    <%- include('../layout/sidebar'); %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

        </button>
        Error. Unable to change results
      </div>
      <div style="margin: 0px 0px 0px 935px">
        <button type="button" class=" btn btn-success  float-right" data-bs-toggle="modal" data-bs-target="#addModal">
          Add
        </button>
      </div>
      <table class="table table-stripped table-responsive table-bordered" style="width:100%; border: 1px solid black">
        <tr>
          <!-- <th>SN</th> -->
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Username</th>
          <th>user_id</th>
          <th>role</th>
          <th>contact</th>
          <th>department</th>
          <th>Date of Birth</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <% admin.forEach(function(admin){ %>
          <tr>
            <!-- <td><%= admin.id %></td> -->
            <td>
              <%= admin.firstname %>
            </td>
            <td>
              <%= admin.lastname %>
            </td>
            <td>
              <%= admin.username %>
            </td>
            <td>
              <%= admin.user_id%>
            </td>
            <td>
              <%= admin.role %>
            </td>
            <td>
              <%= admin.contact%>
            </td>
            <td>
              <%= admin.department_name%>
            </td>
            <td>
              <%= admin.dob%>
            </td>

            <td>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                Edit
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-small" data-bs-toggle="modal"
                data-bs-target="#deleteModal">
                Delete
              </button>
            </td>
          </tr>
          <% }); %>
      </table>

  </div>
  <%- include('../layout/footer'); %>

    <!-- edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit User Details
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form role="form" method="POST" action="/admin">
              <input type="hidden" name="formType" value="editform">
              <div class="form-group">
                <label class="control-label">UserID</label>
                <div>
                  <input type="text" class="form-control input-lg" name="userID"
                    placeholder="Enter userID of details to be changed" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Firstname</label>
                <div>
                  <input type="text" class="form-control input-lg" name="firstname" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Lastname</label>
                <div>
                  <input type="text" class="form-control input-lg" name="lastname" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Role</label>
                <div>
                  <select id="role" class="form-control input-lg" name="role">
                    <option value="1">Administrator</option>
                    <option value="2">Lecturer</option>
                    <option value="3">Student</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Contact</label>
                <div>
                  <input type="text" class="form-control input-lg" name="contact" value="">
                </div>
              </div>

              <div class="form-group">
                <div>
                  <button type="submit" class="btn btn-success">Save changes</button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- addUser Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Add New User Details</Details>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form role="form" method="POST" action="/admin">
              <input type="hidden" name="formType" value="addform">
              <div class="form-group">
                <label class="control-label">UserID</label>
                <div>
                  <input type="text" class="form-control input-lg" name="userID" placeholder=" eg :userID : A32123 "
                    value="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Firstname</label>
                <div>
                  <input type="text" class="form-control input-lg" name="firstname" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Lastname</label>
                <div>
                  <input type="text" class="form-control input-lg" name="lastname" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Role</label>
                <div>
                  <select id="role" class="form-control input-lg" name="role">
                    <option value="1">Administrator</option>
                    <option value="2">Lecturer</option>
                    <option value="3">Student</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Contact</label>
                <div>
                  <input type="text" class="form-control input-lg" name="contact" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Date of Birth</label>
                <div>
                  <input type="text" class="form-control input-lg" placeholder="2020-12-15" name="dob" value="">
                </div>
              </div>

              <div class="form-group">
                <div>
                  <button type="submit" class="btn btn-success">Add User</button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="deleteModalLabel">Delete User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form role="form" method="POST" action="/admin">
              <input type="hidden" name="formType" value="deleteUser">
              <div class="form-group">
                <label class="control-label">UserID</label>
                <div>
                  <input type="text" class="form-control input-lg" name="userID" value="">
                </div>
              </div>
              <div class="form-group">
              <div>
                <button type="submit" class="btn btn-danger">Delete</button>
              </div>
            </div>

            </form>
            
          </div>
        </div>

      </div>
    </div>
    <% include('../layout/footer'); %>