<%- include('../layout/header'); %>
  <div>
    <%- include('../layout/sidebar'); %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

        </button>
        Error. Unable to change results
      </div>
      <table class="table table-stripped table-responsive table-bordered" style="width:100%; border: 1px solid black">
        <tr>
          <!-- <th>#</th> -->
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Username</th>
          <th>user_id</th>
          <th>role</th>
          <th>contact</th>
          <th>department</th>
          <th>Date of Birth</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <% admin.forEach(function(admin){ %>
          <tr>
            <!-- <td><%= admin.id %></td> -->
            <td>
              <%= admin.firstname %>
            </td>
            <td>
              <%= admin.lastname %>
            </td>
            <td>
              <%= admin.username %>
            </td>
            <td>
              <%= admin.user_id%>
            </td>
            <td>
              <%= admin.role %>
            </td>
            <td>
              <%= admin.contact%>
            </td>
            <td>
              <%= admin.department%>
            </td>
            <td>
              <%= admin.dob%>
            </td>
            <td>
              <a href="#" type="button" class="btn btn-primary btn-small">
                <i class="bi bi-pencil"></i>Edit</a>
            </td>
            <td>
              <a href="#" type="button" class="btn btn-danger btn-small">
                <i class="bi bi-person-x"></i>Delete</a>
            </td>
          </tr>
          <% }); %>
      </table>

  </div>
  <%- include('../layout/footer'); %>